<div class="ceter jumbotron">
	<h1>Welcome to the App</h1>

	<h2>
		This is the place where you can blog for <strong>FREE</strong>
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

